html{
    background-color: rgb(255, 255, 255);
}
.row{
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}
  
.column {
    flex: 1 1 auto;
    border: solid 1px rgb(0, 0, 0);
    height: 20px;
}
.button{
    margin-bottom: 5px;
    background-color: rgb(112, 215, 80);
    font-size: 30px;
}
